---
layout: default
---
<h1>Directory Listing</h1>
<ul>
  {% assign current_dir = page.dir %}
  {% assign sorted_files = site.static_files | where:"dir", current_dir | sort: "basename" %}
  {% assign files_to_ignore = "temp-file,data-file,private-document" | split: "," %}

  {% for file in sorted_files %}
    {% comment %} Check if the file is not the index.html and is not in our ignore list {% endcomment %}
    {% if file.basename != "index" and files_to_ignore contains file.basename == false %}
      <li>
        <a href="{{ file.path | relative_url }}">{{ file.basename }}{{ file.ext }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>